.border {
  max-width: 700px;
  border-radius: 5px;
  border: 1px solid black;
  background: #FFFAE7;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.border2 {
  border-radius: 5px;
  border: 1px solid black;
  background-color: #FFFAE7;
  margin: 4%;
}

body {
  margin: 30px auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 40px;
  display: block;
  background: url('https://images.pexels.com/photos/314726/pexels-photo-314726.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: 100% auto;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

a {
  color: black;
}

h1 {
  font-size: 24px;
  font-weight: 150;
  line-height: 25px;
  margin: 0;
  padding: 10px;
  color: black;
  text-align: center;
}

.iconTop {
  text-align: center;
  display: block;
  position: absolute;
  right: 90%;
}

h2 {
  font-size: 20px;
  font-weight: 150;
  line-height: 25px;
  margin: 0;
  padding: 10px;
  color: black;
  text-align: center;
}

.temperature {
  margin: 10px;
  padding: 0px;
  text-align: center;
  font-size: 22px;
}

.unit {
  margin: 10px;
  padding: 0px;
  text-align: center;
  font-size: 16px;
}

.days {
  margin: 0;
  padding: 30px;
  color: black;
  text-align: center;
  display: inline-block;
}

.col-6 {
  text-align: center;
  display: inline-block;
  padding: 10px auto;
  margin: 30px auto;
}

.col-3 {
  text-align: center;
  text-align: left;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}