.border {
  max-width: 700px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.border2 {
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  margin: 4%;
}

body {
  margin: 30px auto;
  text-align: center;
  display: inline-block;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 40px;
  display: block;
  background-color: #f6f2fe;
}

h1 {
  font-size: 24px;
  font-weight: 150;
  line-height: 25px;
  margin: 0;
  padding: 10px;
  color: black;
  text-align: center;
  box-shadow: 0px rgba(0, 0, 0, 0.3);
}

.temperature {
  margin: 10px;
  padding: 0px;
  text-align: center;
  font-size: 22px;
}

.unit {
  margin: 10px;
  padding: 0px;
  text-align: center;
  font-size: 16px;
}

.days {
  margin: 0;
  padding: 30px;
  color: black;
  text-align: center;
  display: inline-block;
}

.col-6 {
  display: inline-block;
  padding: 0px auto;
  margin: 20px auto;
}

.col-3 {
  text-align: left;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}